@charset "UTF-8";

/* common */
* {margin:0;padding:0;}
ul,li,ol {list-style:none;}
a {color:#000;text-decoration:none;}

#wrap {overflow:hidden;min-width:1200px;background-color:#d6d6d6}
main {margin:20px 0;}

/* header */
header {position:relative;height:100px;background-color:#fff;}
header .gnb {position:absolute;right:10px;top:35px;}
header .gnb li {display:inline-block;width:150px;text-align:center;}
header .gnb li a {display:inline-block;width:100%;font-size:15px;line-height:30px;color:#3f1957;background-color:#58b3b8;box-shadow:3px 3px 3px rgba(0, 0, 0, .6);}


/* 메인 페이지 */
.main_cont {text-align:center;background-color:#fff;padding:30px 0;}
.main_cont h1 {font-size:25px;font-weight:700;color:#000;line-height:1;}
.main_cont p {font-size:12px;line-height:1.4;color:#000;margin-top:20px;}
.main_cont .nav {overflow:hidden;margin-top:20px;}
.main_cont .nav li {display:inline-block;}
.main_cont .nav li a {display:inline-block;width:100px;height:100px;font-size:18px;line-height:100px;color:#fff;background-color:#58b3b8;}
.main_cont .nav li:hover a {font-weight:bold;color:#fffab3;}
.main_cont .map_img {display:inline-block;margin-top:20px;}


/* 소개 페이지 */
.about_cont {padding:30px 100px;background-color:#fff;}
.about_cont div + div {margin-top:35px;}
.about_cont a {display:inline-block;color:blue;}
.about_cont p + a {margin-top:15px;}


/* 사진 페이지 */
.photo_cont {background-color:#fff;padding:0 100px;}
.photo_cont ul li {overflow:hidden;padding: 50px;}
.photo_cont ul li + li {border-top:2px solid #ddd;}
.photo_cont ul li figure {float:left;border:10px solid gray;width:350px;height:auto;}
.photo_cont ul li figure img {width:100%;height:auto;}
.photo_cont ul li .txt {float:left;padding-left:50px;font-size:12px;color:#000;line-height:2;}


/* 서블릿 페이지 */
.mainBtn {display:inline-block;font-size:25px;margin:10px;color:blue;text-decoration:underline;}
.time {margin-top:200px;text-align:center;font-size:35px;}


/* footer */
footer {height:100px;background-color:#fff;text-align:center;font-size:12px;line-height:1.4;color:#91918e;padding:32px 0;box-sizing:border-box;}









